<html lang="en">
<header>
  <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Francois+One|Notable&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</header>

<body>
  <div class="about-container" title="A bit about Devan Potter-Bonar">
    <br />
    <br />
    <div class="table-top" title="home page section navigation helper">
      <table class="options" style="text-align: center; width: 95%; width: 100hw;" align="center" cellspacing="2">
        <tbody>
          <tr>
            <td><a href="#code-samples" class="nav-link">CODE</a></td>
            <td><a href="#web-apps" class="nav-link">APPS</a></td>
            <td><a href="#skills-and-tools" class="nav-link">TOOLBOX</a></td>
            <br />
          </tr>
        </tbody>
      </table>
      <br />
    </div>
    <div class="about">
      <%= image_tag @index_document.image, class: 'me', alt: "Photo of Devan Potter-Bonar" %>
      <h1 style="text-shadow: 2px 2px grey">Devan Potter-Bonar</h1>


      <h2 style="letter-spacing: 1.5px;">WEB DEVELOPER</h2>

      <div class="bio-box" title="A Brief Introduction">
        <div id="mobile-1" class="brand-mobile">
          <p class="bio" title="A Brief Introduction">
            <%= @index_document.mobile_brand_one.html_safe %>
          </p>
          <p data-toggle="collapse" data-target="#more-info" class="first-click text-center" title="More About Devan">
            More</p>
          <div id="more-info" class="collapse firstclick">
            <p class="bio">
              <%= @index_document.mobile_brand_two.html_safe %>
            </p>
          </div>
        </div>
        <div class="brand">
          <p class="bio" title="A Brief Introduction">
            <%= @index_document.brand_statement.html_safe %>
          </p>
        </div>
      </div>
      <br />
    </div>
  </div>
  <br />
  <div class="container-bio">
    <div class="dropdown">
      <center><button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown"
          title="See my profiles, articles and resume">Hire Me
          <span class="caret"></span></button>
        <ul class="dropdown-menu style=" width: 100% !important;" align="center">
          <li class="dropdown-header">Communicate</li>
          <li class="menu-item"><a href="mailto:devan.potter.bonar@gmail.com">Email</a></li>
          <li class="dropdown-header">Articles</li>
          <li class="menu-item"><a href="<%= articles_path %>">Read Articles</a></li>
          <li class="dropdown-header">Resume</li>
          <li class="menu-item"><%= link_to "Download", "/Devan_Potter-Bonar_ Resume.pdf", :target => "_blank" %></li>
          <li class="dropdown-header">Profiles</li>
          <li class="menu-item"><a target="_blank" href="https://www.linkedin.com/in/devanpotterbonar/">LinkedIn</a>
          </li>
          <li class="menu-item"><a target="_blank" href="https://github.com/Adpbonar">GitHub</a></li>
        </ul>
      </center>
    </div>
  </div>
  <div>
    <br />
    <div class="page-content">
      <h3 id="code-samples" class="index-heder">Code Snippets</h3>
      <div class="row">
      <% @code_samples.each do |code_sample| %>
        
          <% if code_sample.featured %>
            <div class="col-sm-5 box">
              <div class="featured-project text-center"><h4><%= code_sample.title %></h4></div>
              <%= code_sample.code.html_safe %>
              <p class="text-left"><%= code_sample.description %></p>
              <div class="featured-project text-center"><%= link_to 'details'.upcase, code_sample_path(code_sample), class: 'more' %></div>
            </div
          <% end %>  
          <br class="clear"> 
          <% code_sample.reload %>     
      <% end %>
      
      </div>

        <br />
      
      <br />
      <br class="clear" />
      <br class="clear" />
      <center><p class="more"><%= link_to' See all code', code_samples_path %></p></center>
      <br class="clear" /><br />
      <h3 id="web-apps" class="index-heder">Web Apps</h3>
      <div class="row">
        <% @projects.each do |project| %>
          <% if project.featured %>
            <div class="col-sm-5 box">
              <div class="featured-project text-center"><h4><%= project.title %></h4></div>
              <%= image_tag project.project_image, class: 'project-index-image' %>
              <% if project.coming_soon %>
                <p class="coming-soon">COMING SOON</p>
              <% end %>
              <p class="text-left"><%= project.description %></p>
              <div class="featured-project text-center"><%= link_to 'details'.upcase, project_path(project), class: 'more' %></div>
            </div
          <% end %>  
          <br class="clear">      
      <% end %>
      
      </div>

        <br />
      
      <br />
      <center><p class="more"><%= link_to 'See all projects?', projects_path %></p></center>
      <br class="clear" /><br />
      <h3 id="skills-and-tools" class="index-heder">Skills &amp; Tools</h3>
      <div>
        <p class="s-t">
          Devan has developed proficiency and expertise
          in the following programming languages and
          comfort with the following tools:
        </p>
        <div class="icons">
          <%= image_tag 'github.png', alt: "GitHub" %>
          <%= image_tag 'trello.png', alt: "Trello" %>
          <%= image_tag 'slack.png', alt: "Slack" %>


          <br class="clear" />
          <%= image_tag 'skills.png', alt: "Skills: HTML/CSS, Ruby, Rails, Algorithms, Javascript", class: 'icon' %>
        </div>
        <div class="blog-box">
          <h1 class="text-center">Read About My Code</h1>
          <br />
          <% @articles.each do |article| %>
            <div class="well well-lg">
              <% if article.featured %>
                <% if article.published || current_user && current_user == article.user %>
                  <% article.article_post_scheduled %>
                    <% if ! article.published %>
                      <div class="draft-border">
                        <h4 class="draft">DRAFT</h4>
                        <div class="blog-title text-center">
                          <%= link_to article.title, article_path(article) %><br />
                          <small>(Posted: <%= article.scheduled_for.strftime("%B %d, %Y") %>)</small>
                        </div>
                      </div>
                      <br class="clear" />
                    <% else %>
                      <div class="blog-title text-center">
                        <%= link_to article.title, article_path(article) %><br />
                        <small>(Posted: <%= article.scheduled_for.strftime("%B %d, %Y") %>)</small>
                      </div>
                      <br class="clear" />
                  <% end %>
                <% end %>
              <% end %>
              </div>
            <% end %>
        <br class="clear" />
      </div>
  </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <script>
    $(function () {
      $(".first-click").click(function () {
        $(this).text(function (i, text) {
          return text === "Less" ? "More" : "Less";
        })
      });
    })
  </script>
