  <div class="col-10 offset-1">
    <%= simple_form_for(@article) do |f| %>
    <div class="text-right"><%= f.input :published, as: :radio_buttons, label: 'Publish Now?' %></div>
    <%= f.input :scheduled_for, label: 'Schedule post' %>
    <center><%= f.input :title, class: 'form' %></center><br class="clear" /><br />
    <br />
    
    <%= f.text_area :snippet, placeholder: "update snippet.", :rows => 10, :cols => 145 %>
    <br /><br />
    <%= f.rich_text_area :post, placeholder: "Update post." %>
      <br />
      <%= f.submit class: 'btn btn-success' %>
      </p>
      <% end %>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
  <br />