
<div class="page-content"
  <h1>Create an Article</h1>
    <div class="col-10 offset-1">
      <%= simple_form_for(@article) do |f| %>
        <br />
        <table class="form-table" style="width: 100%"">
          <tbody>
            <tr>
              <td>
                <%= f.input :featured, label: 'Feature on homepage?', as: :radio_buttons %>
              </td>
              <td>
                <%= f.input :draft, label: 'Draft?', as: :radio_buttons %>
              </td>
            </tr>
          </tbody>
        </table>
        <%= f.input :scheduled_for, class: 'form' %>
        <br />
        <%= f.input :title, class: 'form' %>
        <br />
        <%= f.text_area :snippet, placeholder: "Write a snippet.", :rows => 10, :cols => 145 %>
        <br /><br />
        <%= f.rich_text_area :post, placeholder: "Write a post." %>
        <br />
        <div class="text-center">
          <%= f.submit class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
    <br />
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
  <br />
