<br />
<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :GitHub_link %>
    <%= f.input :versions %>
    <%= f.input :description, label: 'Description (for Featured Projects)' %>
    <br />
    <%= f.rich_text_area :project_info, class: 'text-left' %>
    <br />
    <table class="form-table" style="width: 100%">
      <tbody>
        <tr>
          <td class="text-left">
            <%= f.input :project_image %>
          </td>
          <td>
            <%= f.input :featured, label: 'Feature on homepage?', as: :radio_buttons %>
          <td>
            <%= f.input :coming_soon, label: 'Coming Soon?', as: :radio_buttons %>
          </td>
        </tr>
      </tbody>
    </table>
  </div
  <br />
  <div class="form-actions">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
<br />
