<br />
<section class="page-content">
  <br />
  <h1 class="text-center">
    <%= @project.title %>
  </h1>
  <% if @project.GitHub_link.present? %>
     <% if @project.not_public == false %>
      <p class="git-link text-center">
        <strong>View project on  <a target="_blank" href="<%= @project.GitHub_link %>"><i class="fab fa-github"></i></a></strong>
      </p>
    <% else %>
      <p class="notice git-link text-center">
        <strong>Unfortunately, this repo is not public due to the presence of proprietary client information.</strong>
      </p>
    <% end %>
  <% end %>
  <br />
  <% if @project.coming_soon %>
    <div class="project">
      <%= image_tag @project.project_image, class: 'image' %>
      <p class="coming-soon">COMING SOON</p>
    </div>
      <br />
  <% end %>
  <h2 class="text-center">
    Project Information
  </h2>
   <p>
    <span class="badge badge-secondary"><u>Versions</u>: <%= @project.versions %></span>
  </p>
  <br />
    <div class="wrapper">
    <%= @project.project_info %>
    </div>
 
  <% if @project.live_link.present? %>
    <br />
    <center><a target="_blank" href="<%= @project.live_link %>"><p class="more">Test it out</p></a></center>
  <% end %>

  <br />
  <% if current_user && current_user == @project.user %>
    <%= link_to 'Edit', edit_project_path(@project) %> |
    <%= link_to 'Back', projects_path %> | 
    <%= link_to "Delete", project_path(@project), method: :delete, data: { confirm: "Are you sure you want to delete this article?"} %>
  <% end %>
</section>
<br /> 
<br />
<br />
<br />
