<% if notice.present? %>
  <p id="notice"><%= notice %></p>
<% end %>
<br />
<section class="page-content">
  <br />
  <h1 class="text-center">
    <%= @project.title %>
  </h1>
  <% if @project.GitHub_link.present? %>
    <p class="git-link text-center">
      <strong>View project on  <a target="_blank" href="<%= @project.GitHub_link %>"><i class="fab fa-github"></i></a></strong>
    </p>
  <% end %>
  <br />
  <div class="project">
    <%= image_tag @project.project_image, class: 'image' %>
    <% if @project.coming_soon %>
      <p class="coming-soon">COMING SOON</p>
    <% end %>
  </div>
  <br />
   <p>
    <span class="badge badge-secondary"><u>Versions</u>: <%= @project.versions %></span>
  </p>

  <p>
    <strong>Project Information:</strong>
    <%= @project.project_info %>
  </p>

  <br />
  <center><a target="_blank" href="<%= @project.live_link %>"><p class="more">Test it out</p></a></center>

  <br />
  <% if current_user && current_user == @project.user %>
    <%= link_to 'Edit', edit_project_path(@project) %> |
    <%= link_to 'Back', projects_path %> | 
    <%= link_to "Delete", project_path(@project), method: :delete, data: { confirm: "Are you sure you want to delete this article?"} %>
  <% end %>
</section>
<br /> 
<br />
<br />
<br />
