
<%= simple_form_for(@code_sample) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <br />
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :versions %>
    <%= f.input :description, label: 'Description', placeholder: 'This text will appear on the code show page and the homepage.' %>
    <%= f.input :code %>
    <br />
    <%= f.rich_text_area :code_info %>
    <%= f.input :featured, label: 'Feature on homepage?', as: :radio_buttons %>
  </div>

  <div class="form-actions text-center">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>
