<% if notice.present? %>
  <p id="notice"><%= notice %></p>
<% end %>
<br />
<section class="page-content">
  <h1>Code Samples</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Versions</th>
        <th>Code</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @code_samples.each do |code_sample| %>
        <tr>
          <td><%= code_sample.title %></td>
          <td><%= code_sample.versions %></td>
          <td><%= code_sample.code %></td>
          <td><%= link_to 'Show', code_sample, class: 'more' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
<br>
<br>
<br>
<br>