<% if notice.present? %>
  <p id="notice"><%= notice %></p>
<% end %>
<br />
<section class="page-content">
  <br />
  <h1 class="text-center">
    <%= @code_sample.title %>
  </h1>
  <br />
  <p>
    <span class="badge badge-secondary"><u>Language(s)</u>: <%= @code_sample.versions %></span>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @code_sample.description %>
  </p>

  <div class="text-center">
    <div class="box">
      <div class="more-code">
        <%= @code_sample.code.html_safe %>
      </div>
    </div>
    <% if @code_sample.code_info.present? %>
      <br />
      <div class="text-center">
        <strong>More Information:</strong>
      </div>
      <br />
      <div class="wrapper text-left">
        <%= @code_sample.code_info %>
      </div>
    <% end %>
  </div>
  <br class="clear" />

  <% @code_sample.reload %>

  <% if current_user && current_user == @code_sample.user %>
    <%= link_to 'Edit', edit_code_sample_path(@code_sample) %> |
    <%= link_to 'Back', code_samples_path %> | 
    <%= link_to "Delete", code_sample_path(@code_sample), method: :delete, data: { confirm: "Are you sure you want to delete this article?"} %>
  <% end %>
  <br />
</section>
<br /> 
<br />
<br />
<br />
