<% if notice.present? %>
  <p id="notice"><%= notice %></p>
<% end %>
<br />
<section class="page-content">
  <br />
  <h1 class="text-center">
    <%= @code_sample.title %>
  </h1>
  <br />
  <p>
    <strong>Versions:</strong>
    <%= @code_sample.versions %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @code_sample.description %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= @code_sample.code %>
  </p>

  <% if current_user && current_user == @code_sample.user %>
    <%= link_to 'Edit', edit_code_sample_path(@code_sample) %> |
    <%= link_to 'Back', code_samples_path %> | 
    <%= link_to "Delete", code_sample_path(@code_sample), method: :delete, data: { confirm: "Are you sure you want to delete this article?"} %>
  <% end %>
  <br />
</section
