<!DOCTYPE html>
<html>
  <head>
    <title>Devan Potter-Bonar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://kit.fontawesome.com/1ed4546683.js"></script>

  </head>
  <% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
  <body>
  <%# <%= render 'shared/messages' %>
    <%= render 'layouts/navigation'%>  

  <div class="footer" style="width: 100%;"> 
  <% if user_signed_in? %>
    <ul class="footer-bar">
      <li style="display: inline;">
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link', :stye => "padding: none;" %>
      </li>
      <li style="display: inline;">
        <%= link_to "Create Article", new_article_path, class: 'nav-link', :stye => "padding: none;"  %>
      </li>
    <% else %>
      <li>
        <%= link_to 'Sign in', new_user_session_path, class: 'nav-link', :stye => "padding: none;" %>
      </li>    
    <% end %>
    </ul>
</div>  

<button onclick="topFunction()" id="topbtn" title="Go to top"><i class="fas fa-chevron-up"></i></button>



<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("topbtn").style.display = "block";
  } else {
    document.getElementById("topbtn").style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
    <%= yield %>
  </body>
</html>
